{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 col-12 mx-auto mt-5">
                <div class="card bg-light border-dark">
                    <div class="card-body">
                        <h5 class="card-title text-center">Inscription réussie</h5>
                        <p class="card-text text-center">Votre inscription a été effectuée avec succès.</p>
                        <div class="text-center">
                            <a href="{{ path('app_login') }}" class="btn btn-primary">Se connecter</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
